body{
  font-family: 'Ubuntu';
  background-color: #FCFAFF;
  font-family: 'Poppins';
  font-family: 400;
}

a{
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color:#B4B4B4;
}

h2{
  color:#B4B4B4;
  font-size: 40px;
}

span, h4{
  color: #343a40;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

p{
 margin-bottom: 0;

}

input{
  border: none;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px 10px;
  
}

.fa-heart, .fa-xmark, .lost {
  color: #ef233c;
}

.won{
  color: #06d6a0; 
}

.scoreSmall{
  background-color: #e9ecef;
  width: 150px;
  border-radius: 12px;
}

.p-text{
  width: 340px;
}